/* variable css */

:root {
    --dark: #121212;
    --light: #ffffff;
    --fornt: "Odibee Sans", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-color: yellow; */
    font-family: var(--fornt);
    font-size: 16px;
    width: 100%;
    background-color: var(--dark);
    color: var(--light);
}
html {
    background-color: var(--dark);
}